{{!-- Header --}}
<div class="docs-header" id="content">
  <div class="container">
    <h1><a href="/watches/">Watches</a> ⟩ {{ title }} {{#if deviceName}}({{deviceName}}){{else if label}}({{label}}){{/if}}</h1>
  </div>
</div>
